
/*公共样式*/
.show{
    display: block !important;
}
.hide{
    opacity:0 !important;
}
.diss{
    display: none !important;
}

html,body {
    background: #f9f9f9;
    overflow-x: hidden;
    font-family: Arial,"微软雅黑 Light",sans-serif;
}

none{
    display: none;
}

/*preload page*/
#pagePreload{
        text-align: center;
}

        #pagePreload svg{
            margin-top: 37vh;
            margin-left: 8vw;
            width: 20vw;
        }

/*playlist page*/
#pagePlaylist{
        text-align: center;
}

        #pagePlaylist .slogan_wrap svg{
            margin-top: 16vh;
            width: 25vw;
            margin-left: 7vw;
        }

        .playlist_wrap{
            position: relative;
            width: 100vw;
            height: auto;
            margin-top: 13.5vh;
            text-align: center;
        }

                .playlist_wrap .song_list{
                    display: table;
                    text-align: center;
                    width: 100%;
                    height: auto;
                    margin-left: 0;
                }
                        .playlist_wrap .song_list .song{
                            display: table;
                            margin: 2rem auto 2rem auto;
                            width: 90%;
                            height: 20vw;
                            background: #ffffff;
                            box-shadow: 10px 5px 30px #e2e2e2;
                        }

                        .playlist_wrap .song_list .song .poster img{
                            float: left;
                            width: 15vw;
                            margin-top: 1.5rem;
                            margin-left: 4vw;
                        }

                        .playlist_wrap .song_list .song .song_info{
                            float: left;
                            margin-left: 10vw;
                            letter-spacing: 8px;
                            text-align: left;
                        }
                        .playlist_wrap .song_list .song .song_info .song_name{
                            color:#565761;
                            margin-top: 4.5rem;
                            font-size: 2.5rem;
                            font-weight: bold;
                            line-height: 0.5rem;
                        }
                        .playlist_wrap .song_list .song .song_info .song_length{
                            font-size: 1.5rem;
                            margin-top: 0.5rem;
                            color:#a8acb1;
                            line-height: 0.5rem;
                        }

                        .playlist_wrap .song_list .song .song_btn svg{
                            width: 9vw;
                            float: right;
                            margin-right: 5vw;
                            margin-top: 3.3rem;
                        }

/*pageAudioPlayer*/
#pageAudioPlayer{
        width: auto;
        height: 100vh;
}

        #pageAudioPlayer .header_wrap{
            width:100%;
            line-height: 0.86rem;
            text-align: center;
            justify-content: center;
            position: fixed;
            z-index: 9999;
            padding: 3rem;
            /* margin-top: 1rem; */
        }
        #pageAudioPlayer .header{
            width: 90%;
            height: 100%;
            display: flex;
        }
        #pageAudioPlayer .header .back, #pageAudioPlayer .header .hint{
            width: 1vw;
            height: 100%;
            font-size: 0.5rem;
        }
                #pageAudioPlayer .header .hint .right_top{
                    width: 11vw;
                    margin-left: 78vw;
                }
                #pageAudioPlayer .header .back img{
                    width: 3vw;
                    margin-top: 0.8rem;
                }
        #pageAudioPlayer .record_wrap{
            width: 100%;
            height: 47vh;
            margin: 0 auto;
            overflow: hidden;
            text-align: center;
        }
        #pageAudioPlayer .record_wrap img{
            height: 80%;
            margin-top: 14%;
            /* margin-bottom: 10vh; */
            /* position: relative; */
        }

        @-webkit-keyframes rotate{
    from{
        transform: rotate(0deg)
    }to{
         transform: rotate(360deg)
     }
}
        @keyframes rotate{
    from{
        transform: rotate(0deg)
    }to{
         transform: rotate(360deg)
     }
}


/* 歌曲信息模块 */
        #pageAudioPlayer .g-songinfo{
            margin-top: 1vh;
            height: 26vh;
        }
        #pageAudioPlayer .m-songinfo{
            width: 70%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            letter-spacing: 7px;
        }
        #pageAudioPlayer .m-songinfo .songname,#pageAudioPlayer .m-songinfo .singer{
            text-align: center;

            margin-bottom: 0;
        }
        #pageAudioPlayer .m-songinfo .songname{
            font-size: 3rem;
            font-weight:  bold;
            color: #565761;
            /* margin-top: 0.44rem; */
        }
        #pageAudioPlayer .m-songinfo .songdesc{
            margin-top: 10%;
            font-size: 1.8rem;
            color:#a8acb1;
            line-height: 3.0rem;
            font-weight: 50;
        }


/* 音乐控制模块 */
        #pageAudioPlayer .g-panel{
            height: 19vh;
            /* margin-top: 2vh; */
        }
        #pageAudioPlayer .g-panel .m-progress{
            margin: 0 auto;
            height: 0.1rem;
            background-color: #cdccd1;
            width: 85%;
            margin-top: 8%;
        }
        #pageAudioPlayer .g-panel .m-progress .songtime{
            font-size: 1.3rem;
            position:relative;
            top: 1rem;
            color: #cdcdc1;
            letter-spacing:  4px;
        }
        #pageAudioPlayer .g-panel .m-progress .start{
            float:left;
        }
        #pageAudioPlayer .g-panel .m-progress .end{
            float:right;
        }

        #pageAudioPlayer .m-playcontrol{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            /* display:  flex; */
            margin-top: 11.5%;
        }

        #pageAudioPlayer .m-playcontrol .m-playcontrol-box{
            height: 10vh;
            width: 100%;
            display: table;

        }
        #pageAudioPlayer .m-playcontrol .m-playcontrol-box li {
            display: inline-block;
            vertical-align: middle;
        }

        #pageAudioPlayer .m-playcontrol .btn{
            display: inline-block;
            background-size: cover;

        }
        #pageAudioPlayer .m-playcontrol .btn-prev{
            width: 3.5rem;
            height: 2.6rem;
            background: url(../img/prev.png) no-repeat center center;
            background-size: cover;
        }

        #pageAudioPlayer .m-playcontrol .btn-next{
            width: 3.5rem;
            height: 2.6rem;
            background: url(../img/next.png) no-repeat center center;
            background-size: cover;
        }
        #pageAudioPlayer .m-playcontrol .btn-play, #pageAudioPlayer .m-playcontrol .btn-pause{
            width: 7rem;
            height: 7rem;
            margin-left: 9rem;
            margin-right: 9rem;
            filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.4));
            /* top: 4rem; */
        }
        #pageAudioPlayer .m-playcontrol .btn-play{
            background: url(../img/play.png) no-repeat center center;
            background-size: cover;
        }
        #pageAudioPlayer .m-playcontrol .btn-pause{
            background: url(../img/pause.png) no-repeat center center;
            background-size: cover;
        }
        #pageAudioPlayer .m-playoptions{
            height: 1.14rem;
            display:flex;
            width: 100%;
            bottom: 0;
        }
        #pageAudioPlayer .m-playoptions a{
            display:flex;
            justify-content: center;
            align-items:center;
            flex: 1;
            color: #0e202c;
        }
        #pageAudioPlayer .m-playoptions a.active{
            color:#FF00FF;
        }